// html
//     scroll-behavior: smooth

body
    font-family: 'LT Superior', sans-serif
    font-weight: 600
    font-size: 18px
    background: var(--color-peach) url(../img/background.png) no-repeat top -294px center
    color: var(--color-black)
    min-width: 390px

ul
    list-style: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

input, textarea, button, select
    outline: none
    border: 0
    border-radius: 0

button
    cursor: pointer

input, textarea
    background: transparent

.container
    margin: 0 auto
    max-width: 1920px
    width: 100%
    padding: 0 40px
    position: relative
    z-index: 5

.btn
    max-width: 450px
    width: 100%
    display: block
    padding: 14px 16px 10px
    text-align: center
    border-radius: 99px
    box-shadow: 4px 4px 0px 0px #000
    letter-spacing: -0.03em
    line-height: 1.1
    height: 44px
    transition: var(--transition-ms)
    font-weight: 600
    &-orange
        background: var(--color-orange)
        color: var(--color-white)
        &:hover
            background: var(--color-yellow)
            color: var(--color-black)
    &-white
        background: var(--color-white)
        color: var(--color-black)
        &:hover
            background: var(--color-orange)
            color: var(--color-white)

.section
    padding-top: 140px
    background: var(--color-white)
    position: relative
    z-index: 10
    &::after
        content: ''
        position: absolute
        bottom: -200px
        height: 200px
        left: 0
        right: 0
        background: var(--color-white)
    &-top-sm
        padding-top: 80px
    &-bottom-sm
        padding-bottom: 80px
    &-bottom-lg
        padding-bottom: 140px
    &-radius
        border-top-left-radius: 200px
        border-top-right-radius: 200px
    &-yellow
        background: var(--color-yellow)
        &::after
            background: var(--color-yellow)
    &-head
        @include flexbox
        flex-direction: column
        align-items: center
        text-align: center
        &__label
            color: var(--color-orange)
            margin-bottom: 15px
            font-size: 28px
            line-height: 0.9
            letter-spacing: -0.03em
            &::before
                content: '|'
        &__title
            font-size: 60px
            line-height: 0.9
            letter-spacing: -0.03em
            font-weight: 600
            margin-bottom: 30px
            a
                color: var(--color-blue)
                text-decoration: underline
        &__description
            margin-bottom: 15px
            font-size: 28px
            line-height: 0.9
            letter-spacing: -0.03em
    &-full
        height: calc(100vh - 120px)
        & + .footer
            background: none

.splide
    &__arrows
        position: absolute
        top: 0
        right: 0
        @include flexbox
        align-items: center
        gap: 12px
        z-index: 10
    &__arrow
        position: relative
        top: -88px
        left: 0
        right: 0
        transform: none
        width: 48px
        height: 48px
        background: var(--color-orange) url("data:image/svg+xml,%3Csvg width='14' height='26' viewBox='0 0 14 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.70711 0.292893C1.31658 -0.0976311 0.683568 -0.0976311 0.293044 0.292893C-0.0974802 0.683418 -0.0974802 1.31643 0.293044 1.70696L11.586 12.9999L0.293044 24.2929C-0.0974802 24.6834 -0.0974802 25.3164 0.293044 25.707C0.683568 26.0975 1.31658 26.0975 1.70711 25.707L13.7071 13.707C14.0976 13.3164 14.0976 12.6834 13.7071 12.2929L1.70711 0.292893Z' fill='%23F1EFEB'/%3E%3C/svg%3E%0A") no-repeat center
        opacity: 1
        transition: var(--transition-ms)
        &:disabled
            opacity: 0.4
        svg
            display: none
        &--prev
            transform: rotate(180deg)
    &__pagination
        position: relative
        padding: 0
        bottom: 0
        margin-top: 20px
        &__page
            opacity: .2
            background: var(--color-black)
            transform: none
            width: 16px
            height: 16px
            margin: 0 4px
            &.is-active
                opacity: 1

.input
    width: 100%
    border-radius: 99px
    height: 44px
    background: var(--color-white)
    padding: 0 16px
    font-weight: 400
    font-size: 18px
    letter-spacing: -0.03em

.select
    width: 100%
    border-radius: 99px
    height: 44px
    background: var(--color-white) url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 18L22 26L30 18' stroke='%231E1913' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat right center
    padding: 0 16px
    font-weight: 400
    font-size: 18px
    letter-spacing: -0.03em
    appearance: none
    cursor: pointer

.checkbox
    display: block
    input
        @include visually-hidden
        &:checked + p::after
            opacity: 1
    p
        font-size: 12px
        font-weight: 400
        position: relative
        padding-top: 3px
        padding-left: 26px
        cursor: pointer
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 16px
            height: 16px
            border-radius: 100%
            border: 1px solid var(--color-black)
        &::after
            content: ''
            position: absolute
            top: 4px
            left: 4px
            width: 8px
            height: 8px
            border-radius: 100%
            background: var(--color-black)
            transition: var(--transition-ms)
            opacity: 0
        a
            font-weight: 600
            transition: var(--transition-ms)
            &:hover
                color: var(--color-blue)

.top
    padding: 24px 0 100px
    &-sm
        padding-bottom: 40px
    &-breadcrumbs
        margin-bottom: 40px
        display: inline-block
        line-height: 1.1
        letter-spacing: -0.03em
        padding: 6px 0
        li
            display: inline
            opacity: 0.4
            a
                display: inline
            &::after
                content: '>'
                display: inline-block
                margin: 0 10px
            &:last-child
                opacity: 1
                &::after
                    display: none
        &:last-child
            margin-bottom: 0
    &-content
        @include flexbox
        flex-direction: column
        align-items: center
    &-title
        text-align: center
        font-size: 120px
        font-weight: 600
        line-height: 0.9
        letter-spacing: -0.03em
    &-description
        text-align: center
        font-size: 28px
        line-height: 0.9
        letter-spacing: -0.03em
        margin-top: 20px

.categories
    @include flexbox
    align-items: flex-start
    justify-content: center
    gap: 20px
    li
        cursor: pointer
        background: var(--color-yellow-light)
        line-height: 14px
        letter-spacing: -0.03em
        color: var(--color-orange)
        padding: 16px 20px 14px
        border-radius: 99px
        transition: var(--transition-ms)
        &:hover, &.active
            background: var(--color-orange)
            color: var(--color-white)

.thanks
    @include flexbox
    flex-direction: column
    align-items: center
    justify-content: center
    &-title
        text-align: center
        font-size: 90px
        font-weight: 600
        line-height: 0.9
        letter-spacing: -0.03em
        span
            color: var(--color-orange)
            display: block
    .btn
        margin: 64px auto 0

.page-404
    @include flexbox
    flex-direction: column
    align-items: center
    justify-content: center
    &-image
        margin: 0 auto 20px
    &-title
        text-align: center
        font-size: 60px
        font-weight: 600
        line-height: 0.9
        letter-spacing: -0.03em
    .btn
        margin: 30px auto 0
