@media (max-width: 974px)
	.header
		&-logo
			padding: 14px 8px
			img
				height: 26px
		&-socials
			display: none

	.hero
		&-title
			font-size: 44px
			max-width: 680px
		&-people
			position: relative
			left: 0
			bottom: 0
			transform: none
			width: 400px
			margin: 24px auto 0
		&-bottom
			margin-top: 28px
			justify-content: center
		&-open
			max-width: 366px
			text-align: center
			.btn
				max-width: 100%
		&-quote
			display: none

	.section
		&-head
			&__title
				font-size: 36px
		&-full
			height: calc(100vh - 89px)

	.about
		.section-head
			max-width: 744px

	.benefit
		.section-head
			max-width: 650px

	.community
		.section-head
			max-width: 580px
		&-bubble
			position: relative
			top: 0
			width: calc(100% / 2 - 6px)
			height: auto
			aspect-ratio: 1
			margin-top: 40px
			&:first-child
				order: 2
			&:last-child
				order: 3
		&-card
			width: 366px
		&-grid
			&::before
				content: ''
				display: block
				order: 1
				width: 100%

	.events
		&-item
			gap: 12px
			align-items: stretch
			&__info
				display: none
			&__content
				@include flexbox
				flex-direction: column
				align-items: flex-start
				.events-item__info
					display: block
			&__title
				margin-bottom: 24px
			&__image
				flex: 1
				height: 250px
			&__link
				margin-top: auto
		&-grid
			grid-template-columns: repeat(2, 1fr)
		&-card
			max-width: 366px
			flex-direction: column
			align-items: flex-start
			&__side
				width: 100%
				border-radius: 0
				border-bottom-left-radius: 12px
				border-bottom-right-radius: 12px
				order: 2
				padding: 20px
				min-height: 340px
			&__main
				flex: initial
				width: 100%
				border-radius: 0
				border-top-left-radius: 12px
				border-top-right-radius: 12px
				order: -1
			&__title
				font-size: 36px
				text-align: center
			&__tags
				justify-content: center
			&__description
				font-size: 18px
				margin-top: 24px
				text-align: center
			&__image
				max-width: initial
				width: 100%
				flex: initial
				min-height: 0
				height: 120px
				order: -1
				margin-bottom: 12px
			&__separator
				width: 100%
				flex-direction: row
				&::before,
				&::after
					width: 51px
					height: 25px
					margin-top: 12px
				&::before
					transform: rotate(-90deg)
					margin-left: -12px
				&::after
					transform: rotate(90deg)
					margin-right: -12px
				span
					height: 50px
					width: calc(100% - 52px)
					flex: initial
					margin: 0 -13px
					&::before
						width: 100%
						border: 0
						border-top: 2px dashed var(--color-black)
						top: 24px
						left: 0
						right: 0
						bottom: initial
			&__author
				gap: 12px
				&-photo
					width: 80px
					height: 80px
				&-title
					font-size: 20px
				&-name
					font-size: 18px
		&-details
			&__item
				&::before
					display: none
				&-content
					max-width: 360px
					margin-left: 200px
				&-image
					width: 80px
					height: 80px
					border-radius: 12px
				&:hover
					.events-details__item-image
						width: 170px
						height: 120px
						border-radius: 12px

	.specialists
		.section-head
			max-width: 540px
		&-grid
			grid-template-columns: repeat(2, 1fr)
		&-search
			max-width: 360px
		&-edu
			border: 0
			max-width: 100%
			flex-direction: column
			align-items: center
			&__side
				max-width: 360px
				position: relative
				padding-top: 0
				h4
					display: none
				img
					margin-top: 0
			&__list
				width: 100%
				border-top: 1px solid var(--color-grey)
				border-bottom: 1px solid var(--color-grey)
				li
					b
						width: 50%
					p
						width: 50%
		&-bio
			&__quote
				font-size: 24px
				max-width: 744px
		&-card
			flex-direction: column
			align-items: center
			&__photo
				width: 360px
				min-height: 360px
			&__content
				flex: initial
				width: 100%
			&__tags
				margin-bottom: 40px

	.waiting
		padding-bottom: 260px
		.section-head
			max-width: 620px
		&-form
			margin: 220px auto 0
		&-list
			li
				width: 600px
				&:nth-child(1)
					left: -20px
					top: -190px
				&:nth-child(2)
					right: -140px
					top: -74px
				&:nth-child(3)
					left: -20px
					bottom: -190px
				&:nth-child(4)
					right: -140px
					bottom: -74px

	.thanks
		&-title
			font-size: 44px

	.page-text
		&-content
			h3
				margin-top: 50px

	.contacts
		&-grid
			max-width: 360px
			gap: 40px 0
		&-list
			max-width: 100%
			li
				p
					font-size: 20px
					margin-bottom: 10px
				a
					font-size: 36px
		&-about
			max-width: 100%
		&-logo
			b
				font-size: 60px
		&-links
			max-width: 100%

	.news
		&-grid
			grid-template-columns: repeat(2, 1fr)

	.materials
		&-grid
			grid-template-columns: repeat(2, 1fr)

	.news
		&-preview
			height: 300px
		&-single
			&__title
				font-size: 36px
			&__content
				max-width: 550px

	.ikcpif
		&-about
			margin-top: 0px
			margin-bottom: 100px
			&__buttons
				margin-top: 50px
			&__envelope
				bottom: -340px
				width: 744px
		&-aus
			&__image
				max-width: 550px
			&__text
				max-width: 366px
		&-criteria
			&__list
				max-width: 900px
			&__item
				&-title
					width: auto
					font-size: 24px
					flex: 1
				&-subtitle
					display: none
				&-content
					margin-left: 0
					padding-top: 0

	.docs
		&-item
			width: 100%

	.moments
		&-side
			width: 100%
		&-main
			flex: initial
			width: 100%

	.membership
		&-item
			&__title
				flex: 1
			&__subtitle
				display: none
			&__content
				width: 100%
				margin-left: 0

	.account
		&-name
			input
				font-size: 44px
		&-bio
			font-size: 24px
			margin-top: 40px
		&-grid
			margin-top: 24px
		&-col:nth-child(3)
			order: 5
