{% set site_title = site_title | default('Title') %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="language" content="Russian">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<script>
            const meta = document.querySelector('meta[name="viewport"]');
            meta.setAttribute('content', `user-scalable=no, width=${screen.width <= 390 ? 390 : 'device-width'}`);
        </script>
		<title>{{ site_title }}</title>
		<link rel="preload" href="./fonts/LTSuperior/LTSuperior-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="./fonts/LTSuperior/LTSuperior-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="./fonts/LTSuperior/LTSuperior-Semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" href="./css/libs.css?cb">
		<link rel="stylesheet" href="./css/main.css?cb">
	</head>
	<body {% if white_bg %} class="white-bg"{% endif %}>

		{% include 'components/_header.html' %}

		{% block content %}{% endblock %}

		{% include 'components/_footer.html' %}

		<div class="popup-form" id="popup-form">
			<form action="#" method="post" class="waiting-form">
				<div class="waiting-form__title">Оставьте свои контакты, и&#160;мы&#160;с&#160;радостью ответим на&#160;все ваши вопросы</div>
				<select name="messenger" class="select js-contact-type" required>
					<option selected disabled>Выберите способ связи</option>
					<option value="phone">Телефон</option>
					<option value="email">Email</option>
					<option value="telegram">Telegram</option>
				</select>
				<input type="text" name="contact" class="input js-contact-input" placeholder="Выберите способ связи выше" disabled required>
				<button class="btn btn-orange">Отправить</button>
				<input type="hidden" name="form">
				<label class="checkbox">
					<input type="checkbox" required checked>
					<p>Нажимая на&#160;кнопку, я&#160;соглашаюсь с&#160;<a href="#">обработкой персональных данных</a></p>
				</label>
			</form>
		</div>

		<script defer src="./js/libs.js?cb"></script>
		<script defer src="./js/main.js?cb"></script>
	</body>
</html>