<div class="events-item-card">
	<div class="events-item-card__photo"><img src="img/events-image.jpg" alt="" loading="lazy"></div>
	<div class="events-item-card__content">
		<ul class="events-item-card__tags">
			<li>семинар</li>
			<li class="blue">для специалистов</li>
		</ul>
		<div class="events-item-card__name">Обучающий курс по фокусингу</div>
		<div class="events-item__author"><b>Ведущий:</b> Кутукова С. А.</div>
		<div class="events-item__date">20 ноября 2025</div>
		<div class="events-item__time">16:00</div>
		<a href="#" class="events-item-card__link">Подробнее</a>
	</div>
</div>