<div class="events-item" data-aos="fade-up">
	<div class="events-item__content">
		<ul class="events-item__tags">
			<li>семинар</li>
			<li class="blue">для специалистов</li>
		</ul>
		<div class="events-item__title">Обучающий курс по фокусингу</div>
		<div class="events-item__info">
			<div class="events-item__author"><b>Ведущий:</b> Кутукова С. А.</div>
			<div class="events-item__date">20 ноября 2025</div>
			<div class="events-item__time">16:00</div>
		</div>
		<a href="#" class="events-item__link">Подробнее</a>
	</div>
	<div class="events-item__info">
		<div class="events-item__author"><b>Ведущий:</b> Кутукова С. А.</div>
		<div class="events-item__date">20 ноября 2025</div>
		<div class="events-item__time">16:00</div>
	</div>
	<div class="events-item__image"><img src="img/events-image.jpg" alt="" loading="lazy"></div>
</div>