<div class="specialists-item">
	<div class="specialists-item__photo"><img src="img/specialists-item.jpg" alt="" loading="lazy"></div>
	<div class="specialists-item__content">
		<ul class="specialists-item__tags">
			<li>Москва</li>
			<li class="blue">Онлайн / Очно</li>
			<li class="yellow">Онлайн</li>
			<li class="orange">Очно</li>
		</ul>
		<div class="specialists-item__name">Кутукова С.А.</div>
		<ul class="specialists-item__list">
			<li>Учредитель ПСКП</li>
			<li>Клиент-цетрированный психотерапевт</li>
			<li>Ведущий тренер, супервизор</li>
		</ul>
		<a href="#" class="specialists-item__link">Подробнее</a>
	</div>
</div>