{% extends 'components/_layout.html' %}
{% set site_title = 'ИКЦПиФ' %}

{% block content %}

<section class="top">
	<div class="container">
		<ul class="top-breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">ИКЦПиФ</a></li>
		</ul>
		<div class="ikcpif-about">
			<div class="ikcpif-about__block">
				<h2 class="ikcpif-about__title">Институт клиент-центрированной терапии и фокусинга</h2>
				<div class="ikcpif-about__description">Критерии подготовки и учебная программа для психотерапевтов по клиент-центрированной терапии</div>
				<div class="ikcpif-about__buttons">
					<a href="" class="btn btn-orange">Больше об Институте</a>
					<a href="" class="btn btn-white">Скачать учебную программу (PDF, 2 мб)</a>
				</div>
			</div>
			<img src="img/svg/ikcpif-envelope.svg" alt="" class="ikcpif-about__envelope">
		</div>
	</div>
</section>

<section class="section section-radius section-top-sm ikcpif-aus">
	<div class="container">
		<div class="section-head" data-aos="fade-up">
			<span class="section-head__label">прямиком из Австрии</span>
			<h2 class="section-head__title">ПСКП и <a href="https://www.oegwg.at/" target="_blank">ÖGwG</a></h2>
		</div>
		<img src="img/ikcpif-aus.jpg" alt="" loading="lazy" class="ikcpif-aus__image" data-aos="fade-up">
		<div class="ikcpif-aus__text" data-aos="fade-up">Высококвалифицированные специалисты ПСКП с большим стажем тренерской и психотерапевтической работы принимают участие в Европейской Учебной программе по Клиент-центрированной психотерапии АНО ДПО «Институт Клиент-центрированной психотерапии и Фокусинга». Учебная программа является аналогом Программы Австрийского научного Общества Клиент-центрированной и Разговорной Психотерапии ÖGwG и реализуется в России с 2006 года при кураторском содействии ÖGwG.</div>
	</div>
</section>

<section class="section section-bottom-lg ikcpif-criteria">
	<div class="container">
		<div class="section-head" data-aos="fade-up">
			<span class="section-head__label">важная информация</span>
			<h2 class="section-head__title">Критерии подготовки специалистов ПСКП</h2>
		</div>
		<div class="ikcpif-criteria__list">
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Клиент-центрированный психотерапевт</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>практикум — не менее 550ч</li>
							<li>практическая работа с клиентами — не менее 600ч.</li>
							<li>супервизия терапевтической работы — не менее 120ч.</li>
							<li>индивидуальная терапия — не менее 100ч.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Учебные терапевты</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 5 лет (1500 часов) регулярной психотерапевтической  практики в модальности клиент-центрированная психотерапия под супервизией супервизоров ПСКП (не менее 150 часов супервизии в течении 5 лет) </li>
							<li>регулярное посещение мероприятий ПСКП</li>
							<li>кандидатура утверждена руководителями Учебной программы</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Супервизоры</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 7 лет (2000 часов) регулярной психотерапевтической  практики в модальности клиент-центрированная психотерапия под супервизией супервизоров ПСКП (не менее 200ч супервизии на протяжении всего этого периода)</li>
							<li>регулярное посещение мероприятий ПСКП</li>
							<li>получение супервизорской подготовки</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Ко-тренеры по теории</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 5 лет (1500 часов) регулярной психотерапевтической практики в модальности клиент-центрированная психотерапия под супервизией руководителей Учебной Программы и супервизоров ПСКП</li>
							<li>регулярное посещение мероприятий ПСКП</li>
							<li>разработка темы теоретического курса в соответствием с критериями учебного плана под супервизией Руководителей Учебной программы</li>
							<li>написание работы по теоретическому курсу объемом не менее 50 страниц</li>
							<li>обсуждение данного материала с тренером по теории</li>
							<li>кандидатура утверждена руководителями Учебной программы</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Ко-тренеры по праксиологии</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 5 лет  (1500 часов) регулярной психотерапевтической  практики в модальности клиент-центрированная психотерапия под супервизией руководителей Учебной Программы и ведущих тренеров ПСКП</li>
							<li>регулярное посещение мероприятий ПСКП</li>
							<li>опыт участия в Учебной Программе в качестве ко-тренера по теории (не менее 60 часов, под супервизией руководителей Учебной программы)</li>
							<li>опыт в качестве учебного терапевта</li>
							<li>кандидатура утверждена руководителями Учебной программы</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Тренеры по теории</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 6 лет (1800 часов) регулярной психотерапевтической  практики в модальности клиент-центрированная психотерапия под супервизией руководителей Учебной Программы и супервизоров ПСКП</li>
							<li>регулярное посещение мероприятий ПСКП, получение тренерской и супервизорской подготовки</li>
							<li>разработка 1 или несколько тем теоретического курса в соответствием с критериями Учебного плана</li>
							<li>выполнение письменной работы по каждому теоретическому курсу объемом не менее 50 страниц</li>
							<li>опыт участия в Учебной Программе в качестве ко-тренера по теории (не менее 120 часов, под супервизией руководителей Учебной программы)</li>
							<li>опыт в качестве учебного терапевта</li>
							<li>кандидатура утверждена руководителями Учебной программы</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="ikcpif-criteria__item" data-aos="fade-up">
				<div class="ikcpif-criteria__item-head">
					<div class="ikcpif-criteria__item-title">Тренеры по праксиологии</div>
					<div class="ikcpif-criteria__item-subtitle">Критерии:</div>
				</div>
				<div class="ikcpif-criteria__item-wrapper">
					<div class="ikcpif-criteria__item-content">
						<ul class="ikcpif-criteria__item-list">
							<li>не менее 8 лет регулярной психотерапевтической  практики в модальности клиент-центрированная психотерапия (из них  не менее 5 лет под супервизией руководителей Учебной Программы и супервизоров ПСКП)</li>
							<li>регулярное посещение мероприятий ПСКП, получение тренерской и супервизорской подготовки</li>
							<li>опыт участия в Учебной Программе в качестве ко-тренера по теории (не менее 60 часов, под супервизией руководителей Учебной программы)</li>
							<li>опыт участия в Учебной Программе в качестве постоянного неоплачиваемого ко-тренера по праксиологии на протяжении всей Учебной Программы  (не менее 420ч под супервизией руководителей Учебной программы)</li>
							<li>опыт участия в Учебной Программе в качестве постоянного оплачиваемого ко-тренера по праксиологии на протяжении всей Учебной Программы  (не менее 420ч) под супервизией руководителей Учебной программы</li>
							<li>написание итоговой работы, объемом не менее 100 страниц</li>
							<li>кандидатура утверждена руководителями Учебной программы</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}