{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
	<div class="container">
		<div class="hero-head">
			<div class="hero-label">для студентов, психологов, психотерапевтов с опытом и без</div>
			<h1 class="hero-title">Пространство для роста, взаимопонимания и самопознания</h1>
		</div>
		<div class="hero-bottom">
			<div class="hero-open">
				<p>Откройте для себя мир клиент-центрированной психотерапии. Конференции и тренинги для специалистов, группы навыков и воркшопы для тех, кто ищет поддержку</p>
				<a href="#" class="btn btn-orange">Хочу в сообщество</a>
				<a href="#" class="btn btn-white">Смотреть мероприятия</a>
			</div>
			<div class="hero-quote">
				<p>«не терапевт, а <b>клиент является экспертом самому себе</b>»</p>
				<span>Карл Роджерс</span>
				<small>психотерапевт, автор КЦП</small>
			</div>
		</div>
		<img src="img/svg/hero-people.svg" alt="" class="hero-people">
	</div>
</section>

<section class="section section-radius section-top-sm about">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">о подходе</span>
			<h2 class="section-head__title">Подход, объединяющий психотерапевтов, психологов, студентов и просто любителей</h2>
		</div>
		<div class="about-grid">
			<div class="about-item">
				<div class="about-item__head">
					<b>КЦП</b>
					<img src="img/about-item-01.jpg" alt="" loading="lazy">
				</div>
				<div class="about-item__text">
					<p><b>Клиент-центрированная психотерапия</b> – метод психотерапии, открытый Карлом Роджерсом, основанный на вере в врожденный потенциал клиента к росту и саморегуляции.</p>
				</div>
			</div>
			<div class="about-item">
				<div class="about-item__head">
					<b>К. Роджерс</b>
					<img src="img/about-item-02.jpg" alt="" loading="lazy">
				</div>
				<div class="about-item__text">
					<p>Карл Роджерс (1902-1987, психотерапевт, автор КЦП) утверждал, что «медицинская модель — с влиянием диагноза патологического поведения, методов лечения, а также желанием выздоровления является полностью несоответствующей моделью для обращения с психически нуждающимся или имеющим отклонения в поведении индивидом».</p>
				</div>
			</div>
			<div class="about-item">
				<div class="about-item__head">
					<b>Концепция КЦП</b>
					<img src="img/about-item-03.jpg" alt="" loading="lazy">
				</div>
				<div class="about-item__text">
					<p>Центральную гипотезу Клиент-центрированной психотерапии Роджерс сформулировал так: <b>«Каждый из нас имеет в себе самом обширные ресурсы для понимания собственной сущности, для изменения собственной Я-концепции, установок, отношения к себе и поведения»</b>.</p>
					<a href="#">Подробнее</a>
				</div>
			</div>
		</div>
		<a href="#" class="btn btn-orange">Хочу в сообщество</a>
	</div>
</section>

<section class="section benefit">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">чем мы полезны</span>
			<h2 class="section-head__title">Даем как профессиональную поддержку специалистам, так и помощь тем, кто ищет специалиста</h2>
			<p class="section-head__description">В нашем сообществе вы сможете:</p>
		</div>
		<div class="benefit-grid">
			<div class="benefit-item">
				<div class="benefit-item__image"><img src="img/benefit-item-01.jpg" alt="" loading="lazy"></div>
				<div class="benefit-item__content">
					<div class="benefit-item__title">Если вы хотите стать специалистом:</div>
					<ul class="benefit-item__list">
						<li><b>развиваться</b> и <b>проходить</b> аккредитацию</li>
						<li><b>участвовать</b> в коллективных научных и образовательных проектах</li>
						<li><b>получать</b> все новые образовательные программы, быть в курсе тенденций</li>
						<li><b>получать</b> активную поддержку по всем вопросам от нашего сообщества</li>
					</ul>
					<a href="#" class="btn btn-white">Хочу в сообщество как терапевт</a>
				</div>
			</div>
			<div class="benefit-item">
				<div class="benefit-item__image"><img src="img/benefit-item-02.jpg" alt="" loading="lazy"></div>
				<div class="benefit-item__content">
					<div class="benefit-item__title">Если вы ищете специалиста:</div>
					<ul class="benefit-item__list">
						<li><b>получить</b> любую поддержку по вашему вопросу</li>
						<li><b>подобрать</b> психотерапевта отвечающего вашим пожеланиям</li>
					</ul>
					<a href="#" class="btn btn-white">Хочу задать вопросы терапевту</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-bottom-lg community">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">о сообществе</span>
			<h2 class="section-head__title">Уже более 19 лет занимаемся научно-исследовательской деятельностью и оказываем психотерапевтическую поддержку</h2>
		</div>
		<div class="community-grid">
			<div class="community-bubble">
				<b>71 200</b>
				<p>часов сессий проводят наши специалисты каждый год</p>
			</div>
			<div class="community-card">
				<img src="img/community-photo.jpg" alt="" class="community-card__photo" loading="lazy">
				<div class="community-card__name">Сергей Стукалов</div>
				<div class="community-card__spec">Председатель ПСКП</div>
				<div class="community-card__text">
					<p>«Важнейшей целью деятельности ПСКП является объединение специалистов с едиными этическими принципами и высоким уровнем профессиональной подготовки.</p>
					<p>Мы создаем среду, направленную на совершенствование опыта и повышение уровня специальных знаний психотерапевтов.»</p>
				</div>
			</div>
			<div class="community-bubble">
				<b>700+</b>
				<p>часов мероприятий проводится нашими специалистами в год</p>
			</div>
		</div>
	</div>
</section>

<section class="section section-yellow section-radius section-top-sm section-bottom-sm">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">активность</span>
			<h2 class="section-head__title">Наши специалисты принимают активное участие в научных конференциях и форумах</h2>
			<p class="section-head__description">а также организовывают тренинги, курсы, семинары и воркшопы</p>
		</div>
	</div>
</section>

<section class="section section-radius section-top-sm">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">мероприятия</span>
			<h2 class="section-head__title">Ближайшие мероприятия нашего сообщества</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">наши специалисты</span>
			<h2 class="section-head__title">Уже более 89 специалистов работают, делятся опытом  и обучаются в нашем сообществе</h2>
			<p class="section-head__description">Действительные, наблюдательные и ассоциированные участники</p>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">в нашем сообществе тебя ждет</span>
			<h2 class="section-head__title">Обучайся и познавай мир клиент-центрированной психотерапии с нами</h2>
		</div>
	</div>
</section>

<section class="section section-bottom-lg">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">новости</span>
			<h2 class="section-head__title">Последние новости нашего сообщества</h2>
		</div>
	</div>
</section>

{% endblock %}