{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
	<div class="container">
		<div class="hero-head">
			<div class="hero-label">для студентов, психологов, психотерапевтов с опытом и без</div>
			<h1 class="hero-title">Пространство для роста, взаимопонимания и самопознания</h1>
		</div>
		<div class="hero-bottom">
			<div class="hero-open">
				<p>Откройте для себя мир клиент-центрированной психотерапии. Конференции и тренинги для специалистов, группы навыков и воркшопы для тех, кто ищет поддержку</p>
				<a href="#" class="btn btn-orange">Хочу в сообщество</a>
				<a href="#" class="btn btn-white">Смотреть мероприятия</a>
			</div>
			<div class="hero-quote">
				<p>«не терапевт, а <b>клиент является экспертом самому себе</b>»</p>
				<span>Карл Роджерс</span>
				<small>психотерапевт, автор КЦП</small>
			</div>
		</div>
		<img src="img/svg/hero-people.svg" alt="" class="hero-people">
	</div>
</section>

{% endblock %}