{% extends 'components/_layout.html' %}
{% set site_title = 'Новости' %}

{% block content %}

<section class="top">
	<div class="container">
		<ul class="top-breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Новости</a></li>
		</ul>
		<div class="top-content">
			<h2 class="top-title">Новости ПСКП</h2>
		</div>
	</div>
</section>

</div>

<section class="section section-radius section-bottom-lg">
	<div class="container">
		<div class="news-grid">
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
			{% include 'components/news-item.html' %}
		</div>
	</div>
</section>

{% endblock %}