{% extends 'components/_layout.html' %}
{% set site_title = 'Страница новости' %}

{% block content %}

<section class="top top-sm">
	<div class="container">
		<ul class="top-breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Продолжается набор в учебную программу по КЦП</a></li>
		</ul>
	</div>
</section>

</div>

<div class="section-sticky">

<section class="section-radius news-preview" style="background-image: url(../img/news-item.jpg);"></section>

</div>

<section class="section section-radius section-top-sm news-single">
	<div class="container">
		<div class="news-single__head">
			<div class="news-single__date">25.09.2025</div>
			<h2 class="news-single__title">Продолжается набор в учебную программу по КЦП</h2>
		</div>
		<div class="news-single__content">
			<p>Автором клиент-центрированного подхода в психотерапии является К. Роджерс (1902 −1987), американский психотерапевт, который радикально перевернул основное понимание психотерапии: не терапевт, а клиент является экспертом самому себе. Роджерс утверждал, что «медицинская модель — с влиянием диагноза патологического поведения, методов лечения, а также желанием выздоровления является полностью несоответствующей моделью для обращения с психически нуждающимся или имеющим отклонения в поведении индивидом».</p>
			<p><b>Концепция психотерапии Роджерса</b></p>
			<p>Центральную гипотезу Клиент-центрированной психотерапии Роджерс сформулировал так: «Каждый из нас имеет в себе самом обширные ресурсы для понимания собственной сущности, для изменения собственной Я-концепции, установок, отношения к себе и поведения».</p>
			<p>Но для того, чтобы эти ресурсы лучше высвобождались, необходимо создать условия. «человек может научиться использовать эти ресурсы, только оказавшись в условиях особых, поддерживающих, фасилитирующих взаимоотношений».</p>
			<p>Эти установки Роджерс обозначает как «операционную философию терапевта» и как «путь контакта с клиентом».</p>
			<img src="img/news-item.jpg" alt="" loading="lazy">
			<p>Он точно и выразительно сформулировал свою концепцию психотерапии в форме шести «необходимых и достаточных условий для развития личности посредством психотерапии», подчеркивая значение базового терапевтического отношения.Это стимулировало исследования в области психотерапии и оказало значительное влияние на понимание психотерапии в целом. Эти условия являются основой клиент-центрированной психотерапии.</p>
			<p><b>6 необходимых и достаточных условий психотерапии.</b></p>
			<p>(1) Два человека находятся друг с другом в реальном психологическом контакте</p>
			<p>Под психологическим контактом подразумевается интенсивно переживаемое отношение, когда лица, участвующие в нем, эмоционально затрагивают друг друга. Именно в таком взаимодействии осуществляется позитивное изменение личности.</p>
			<p>Условие, что между терапевтом и клиентом возникает контакт, является основным условием, предпосылкой для всех остальных условий, и является одновременно настолько важным, что может быть выдвинуто как отдельное качество.</p>
			<p>Контакт для терапевта — это способность реализовать способность к эмпатии и конгруэнтности. «Во всем, что я делаю, чувствуется лечебное действие, когда я становлюсь ближе к моему внутреннему, интуитивному Я, когда я в определенной мере вступаю в контакт с незнакомцем, когда я возможно нахожусь в измененном состоянии сознания. Тогда только моё присутствие является для другого избавительным и полезным».</p>
			<p>Контакт всегда настоящий, даже если подразумевается прошедшее или будущее. Контакт всегда происходит в настоящем времени, в частности прошедшее и будущее всегда переживаются в настоящем времени. Однако люди могут уклоняться от этого настоящего переживания, они могут потерять, либо избегать контакта.</p>
		</div>
	</div>
</section>

<section class="section section-bottom-lg events-similar">
	<div class="container">
		<div class="section-head">
			<span class="section-head__label">новости</span>
			<h2 class="section-head__title">Другие новости нашего сообщества:</h2>
		</div>
		<div class="news-carousel splide">
			<div class="splide__arrows">
				<button class="splide__arrow splide__arrow--prev"></button>
				<button class="splide__arrow splide__arrow--next"></button>
			</div>
			<div class="splide__track">
				<div class="splide__list">
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
					<div class="splide__slide">{% include 'components/news-item.html' %}</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}