{% extends 'components/_layout.html' %}
{% set site_title = 'Специалисты' %}

{% block content %}

<section class="top">
	<div class="container">
		<ul class="top-breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Специалисты</a></li>
		</ul>
		<div class="top-content">
			<h2 class="top-title">Специалисты ПСКП</h2>
			<p class="top-description">Выберите уровень квалификации для просмотра специалистов</p>
		</div>
	</div>
</section>

<section class="section section-radius section-top-sm section-bottom-lg specialists">
	<div class="container">
		<ul class="specialists-categories">
			<li class="active">Все специалисты</li>
			<li>Клиент-центрированный психотерапевт</li>
			<li>Супервизор</li>
			<li>Тренер</li>
			<li>Психотерапевт в обучении</li>
		</ul>
		<form action="#" class="specialists-search">
			<input type="text" placeholder="Поиск специалиста">
			<button></button>
		</form>
		<div class="specialists-grid">
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
		</div>
	</div>
</section>

{% endblock %}