{% extends 'components/_layout.html' %}
{% set site_title = 'Специалисты' %}

{% block content %}

<section class="section section-radius section-top-sm section-bottom-lg specialists">
	<div class="container">
		<div class="specialists-grid">
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
			{% include 'components/specialists-item.html' %}
		</div>
	</div>
</section>

{% endblock %}