{% extends 'components/_layout.html' %}
{% set site_title = 'Текстовая страница' %}
{% set white_bg = true %}

{% block content %}

<section class="top top-sm">
	<div class="container">
		<ul class="top-breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Текстовая страница</a></li>
		</ul>
	</div>
</section>

<section class="section section-bottom-lg page-text">
	<div class="container">
		<div class="page-text-content">
			<h2>Пользовательское соглашение</h2>
			<h4>Перед началом использования сайта просим вас внимательно ознакомиться с настоящим документом. Использование сайта разрешается только при соблюдении условий данного соглашения. Принимая настоящее соглашение, вы берете на себя обязательство соблюдать соглашение, приведенное ниже.</h4>
			<h3>1. Общие положения</h3>
			<p>1.1. Пользовательское соглашение (далее — Соглашение/настоящее Соглашение) адресуется Неккомерческим партнерством «Профессиональное сообщество клиент-центрированных психотерапевтов», ОГРН 1137799014253, ИНН/КПП 7725352115/772501001, место нахождения: 115280, г. Москва, ул. Автозаводская, д. 17, к. 3 в дальнейшем именуемым «Администрация Сайта», любому лицу, использующему сайт, размещенный в сети интернет по адресу: https://carl-rogers.ru// (далее — Сайт), в дальнейшем именуемому «Пользователь», с предложением заключить договор на изложенных ниже условиях.</p>
			<p>1.2. В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации настоящее Соглашение признается офертой (публичной офертой). В соответствии со статьей 438 Гражданского кодекса Российской Федерации принятием условий настоящего Соглашения считается совершение действий, изложенных в Соглашении. Договор, заключаемый путем акцепта настоящей оферты, не требует двустороннего подписания и действителен в электронном виде.</p>
			<p>1.3. Пользователь не вправе заключить настоящее Соглашение, если не достиг возраста, достаточного для его заключения, согласно действующему законодательству. </p>
			<h3>2. Термины и определения</h3>
			<p>2.1. Приведенные в настоящем разделе термины, используемые в настоящем Соглашении, если не оговорено иное, будут иметь следующие значения:</p>
			<p>2.1.1. Администрация Сайта — НП «ПСКП», ОГРН 1137799014253, ИНН/КПП 7725352115/772501001, место нахождения: 115280, г. Москва, ул. Автозаводская, д. 17, к. 3, обладающее всеми правами в отношении Сайта. </p>
			<p>2.1.2. Сайт — совокупность программ для электронных вычислительных машин и иной информации, содержащейся в информационной системе, доступ к которой обеспечивается посредством информационно-телекоммуникационной сети интернет и расположенной по адресу: https://carl-rogers.ru//</p>
			<p>2.1.3. Оферта — предложение любому лицу заключить договор на условиях, изложенных в настоящем Соглашении. </p>
			<p>2.1.4. Акцепт — полное и безоговорочное согласие лица заключить договор на условиях, изложенных в настоящем Соглашении. Для целей настоящего Соглашения акцептом признается момент, с которого Пользователь фактически приступил к использованию Сайта. </p>
			<p>2.1.5. Контент — любые текстовые, графические, аудио-, видео-, и иные материалы, размещенные на Сайте.</p>
		</div>
	</div>
</section>

{% endblock %}